@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;600&display=swap');

html {
	background: #EBE1A970; /*冬至-莺儿*/
}

body {
    font-family: 'M PLUS 1', sans-serif;
    font-size: 16px;
    color: #31322C; /*冬至-京元*/
}

::selection{
	background: #EBE1A9;
}

.bio {
	position: fixed;
	top: 3%;
 	left:5%;
	width:20%;
    font-size: 16px;
}

.bio p::selection{
	background: #EBE1A9;
}

.bio p {
	color:#7C4449;
}

.bio a {
	text-decoration: none;
	color:#796860;
}

.page-links-col {
	position:fixed;
	left:5%;
	bottom: 5%;
	font-family: 'Enriqueta', serif;
	font-weight: 600;
}

.page-link {
	color:#7C4449;
	text-decoration: underline;
}

.page-link-active {
	color: #BE8A2F;
}

.page-link::selection {
    background:transparent;
}

.page-link-active::selection {
    background:transparent;
}

h1 {
	font-size: 30px;
	font-family: 'Enriqueta', serif;
	/* color-冬至-霁红 */
    color:#7C4449;
    margin-bottom:5%;
}

h2 {
    font-size: 22px;
	font-family: 'Enriqueta', serif;
	/* color-冬至-霁红 */
    color:#7C4449;
    margin: 0;
}

.other_projects_title{
margin-bottom: 0;
}

.other_projects {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 14px;
}

.main-text-sec {
    /* position:fixed; */
    width:60%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:30%;
    overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main-text-sec::-webkit-scrollbar{
	display: none;
}

h3 {
    font-size: 18px;
	font-family: 'Enriqueta', serif;
	/* color-冬至-霁红 */
    color:#7C4449;
    margin-bottom: 5px;
}

.main-text-sec p {
    margin-top: 5px;
    margin-bottom: 0;
    color: #31322C; /*冬至-京元*/
}

.main-text-sec a {
    text-decoration: underline;
	color: #31322C; /*冬至-京元*/
}

.experiences_description {
    margin-top: 5px;
    margin-bottom: 0;
    color: #31322C; /*冬至-京元*/
}

.footer-img{
	position: fixed;
	bottom:0.5%;
	right:0.2%;
	width:3%;
	min-height: 30px;
	min-width: 30px;
	height: auto;
	z-index: 10;
}

.footer-text {
	position:fixed;
	color:#796860;
	bottom:1%;
	right: 3%;
	font-size: 12px;
	font-family: 'Enriqueta', serif;
	z-index: 20;
}

.footer-text a {
    color:#796860;
    text-decoration: none;
}

.footer-text p {
	margin:0;
}

.footer-text small {
	width:100%;
	display: block;
	text-align: right;
}

@media (max-width: 820px) {
	.footer-text {
		right:5%;
	}
}

@media (max-width: 493px) {
h1 {
	font-size: 26px;
}

h2 {
font-size: 18px;
}

.bio {
	font-size: 12px;
}

.other_projects {
	font-size: 10px;
}
}

@media (max-width: 390px) {
	.footer-text {
		right:7%;
	}
}

@media (max-width: 300px) {
	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 16px;
	}
}