@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;600&display=swap');

html {
    /* bg-c: 冬至-紫梅 */
    /* background-color: #BB7A87; */
    /* color-立秋-缟羽 */
    background-color: #EFEFEF;
    font-family: 'Enriqueta', serif;
}

body {
    margin: 0 12% 0 8%;
    width: 75%;
    height: 100%;
}


#background{
  position: fixed;
  width: 900px;
  height: 900px;
  margin-bottom: -5%;
  margin-left: -20%;
  z-index: -1;
  opacity: 0.3;
}

@media (max-width:790px) { 
  #background {
    width: 450px;
    height: 450px;
    margin-top: 80%;
  }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* bg-c: 冬至-银红 */
    background-color: #E7CAD3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color-冬至-霁红 */
    color:#7C4449;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
      /* color-冬至-濯绛  */
    color: #796860;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    position: fixed;
    height: 100%;
    width: 7%;
    font-size: 20px;
    cursor: pointer;
    /* bg-c: 冬至-银红 */
   background-color: #E7CAD3;
    /* bg-c:冬至-霁红 */
    color: #7C4449;
    top:0;
    right: 0;
    border: none;
    font-family: 'Enriqueta', serif;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  
  .openbtn:hover {
      /* bg-c:冬至-咸池 */
    background-color: #DAA9A9;
  }

  @media (max-width:790px) { 
    body{
      margin-left: 8%;
    }

    .openbtn {
      height: 5%;
      width: 100%;
      top:0;
      left: 0;
      writing-mode: horizontal-tb;
      text-orientation: unset;
    }
  }
  

  #index_header{
    margin-top:10px;
    text-align: center;
    width: 100%;
    } 

  #header{
    margin-top:10px;
    text-align: center;
    width: 100%;
  } 

  .icon {
    /* position:relative; */
    height: 300px;
    width: 300px;
    margin: 0, auto;
  }

  #index_header h1{
    padding-top: 1em;
    top: 20px;
    /* bg-color-冬至-霁红 */
    color:#7C4449;
    /* color-立秋-缟羽 */
    /* color: #EFEFEF; */
  }

  #index_header p {
    /* color-冬至-霁红 */
    color:#7C4449;
    margin: 0 30%;
    padding-bottom: 1em;
    font-size: 1.2em;
  }

  #header h1{
    padding-top: 0.5em;
    /* color-冬至-霁红 */
    color:#7C4449
  }

  #button {
    transition: margin-left .5s;
    height: 100%;
}

@media (max-width:790px) { 
  #index_header p{
    font-size: 1.1em;
    padding-bottom:0.5em;
    margin: 0
  }
}

h2 {
padding-top: 0.5em;
padding-bottom: 0.1em;
text-align: center;
/* color-冬至-霁红 */
color: #7C4449;
}

#panels_holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
  /* position: relative; */
  margin:0 auto;
  padding: 2.3%;
}

.panels {
  margin: 2% auto;
  height: 520px;
  width: 220px;
  border-style: solid;
  border-color: #7C4449;
  border-width: 4px;
  /* bg-c: 冬至-咸池 */
  background-color: rgba(218,169,169,0.2);
}

.panel_img{
  padding: 10px 0px 10px 0px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.panel_pop {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -55%;
  text-align: center;
}

.panel_pop2{
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -58%;
  text-align: center;
}

.panels:hover .panel_img{
  opacity: 0.2;
}

.panels:hover .panel_pop {
  opacity: 0.8;
}

.panels:hover .panel_pop2 {
  opacity: 0.8;
}

.pop_text {
  background-color: #7C4449;
  color: #EFEFEF;
  font-size: 20px;
  padding: 16px 32px;
}


.pop_text a{
  color: #EFEFEF;
  text-decoration: none;
}

#video_holder{
  margin-left: 12%;
  margin-right: 12%;
  position: relative;
  padding-bottom: 47%;
  overflow: hidden;
  background-color: rgba(255,255,255,0);
}

#video_holder iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}  


.iframe_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 850px;
  height: 1300px;
  overflow: auto;
  flex-direction: row;
  margin:0 auto;
  }

  .iframe_grid #iframe_holder{
  width: 420px;
  height: 750px;
  margin-left: 0;
}

.iframe_grid #flex_text{
  width: 420px;
  height: 750px;
  margin-left: 10px;
}

.iframe_grid #iframe_holder2{
  width: 420px;
  height:530px;
  margin-left: 0;
  margin-top: 20px;
}

.iframe_grid #flex_text2{
  width:420px;
  height:530px;
  margin-left: 10px;
  margin-top: 20px;
}

#resume{
  margin-top: 1%;
  margin-left: 12%;
  margin-right: 12%;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: rgba(255,255,255,0);
}

#resume embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}  

#gdrive_link {
  text-decoration: none;
  font-size: 25px;
  /* bg-c:冬至-霁红 */
  color: #7C4449;
  padding-bottom: 3em;
  margin-left: 12%;
}

#gdrive_link:hover{
  color:#796860;
}

footer{
  margin-bottom: 3%;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li a{
  text-decoration: none;
  display: block;
  color:#7C4449;
}

footer li a:hover{
  color:#796860;
}

#text_video{
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 12%;
}

#contact_info{
  text-align: center;
} 

#contact_info a{
  color:black;
}

#intext{
  color: black;
}


@media (max-width:920px) { 
  div.iframe_grid {
  flex-direction: row;
  position: static;
  width: 300px;
  } 

  div.iframe_grid #flex_text{
    width:290px;
  }
  div.iframe_grid #flex_text2{
    width:290px;
  }

  #gdrive_link {
    font-size: 15px;
  }
}

@media (max-width:790px) { 
  body div{
    margin-left: 6%;
  }

  #panels_holder {
    margin-left: 8%;
  }

  .panel_pop{
    left: -6%;
  }

  .panel_pop2{
    left: -6%;
  }

  .pop_text{
    padding: 12px 32px;
  }

  #project_context {
    margin-left: 8%;
  }
}